/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}


/* COMMON */
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'PT Sans', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    cursor: pointer;
    color: inherit;
}


/* HEADER */
header{
    background-color: var(--blue);
    position: fixed;  
    height: 70px;
    width: 100%; 
    line-height: 70px;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
}

.logo, .hamburger{
    line-height: 70px;
}

.logo{
    display: flex;
    align-items: center;
}

.hamburger{
    color: white;
    font-size: 1.3rem;
}

.nav-head{
    display: none;
}

.nav-head ul{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-head ul a{
    text-decoration: none;
}

.bttn-hdr{
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 5px 10px;
}

@media screen and (min-width: 992px) {
    .hamburger{
        display: none;
    }
    .nav-head{
        display: block;
        font-size: 0.7rem;
    }
}


/* MAIN */
.wrapper{
    width: 90%;
    margin: 0 auto;
}
@media screen and (min-width: 992px) {
    .wrapper{
        width: 70%;
        margin: 0 auto;
    }  
}

/* HERO */
/* general */
.hero{
    padding-top: calc(var(--headerheight) + 30px);    
    padding-bottom: 20px;
}

.all-col{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* bigcol */
.bigcol{
    background-color: var(--lightblue);
    border-radius: 20px;
    width: 100%;
    margin: 10px;

    height: 200px;
}

.bigcol a{
    text-decoration: none;
}
.bigcol-bttn{
    background-color: var(--blue);
    color: white;
    padding: 10px 10px;
    border-radius: 20px;
    text-align: center;
    width: 60%;
    display: block;
}

.col{
    background-color: var(--lightblue);
    border-radius: 20px;
    width: 100%;
    margin: 10px;

    /* debug */
    height: 200px;
}

.grow{
    flex-grow: 0;
}

@media screen and (min-width: 768px) {
    .all-col{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .bigcol{
        width: calc(100% / 2);
    }
    .col{
        width: calc(100% / 3 - 20px);
    }
    .grow{
        flex-grow: 1;
    }
}
@media screen and (min-width: 992px) {
    .all-col{
        width: 70%;
    }

}

/* PLANNING */
.planning{
    background-color: var(--lilac);
}
.plann-types{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.strategic{
    width: 100%;
    /* debug */
    height: 200px;
    border: 1px solid black;
}
.app-dev{
    width: 100%;
    /* debug */
    height: 200px;
    border: 1px solid black;
}

.app-dev-card{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    /* debug */
    height: 100%;
}

    
@media screen and (min-width: 992px) {
    .plann-types{
        flex-direction: row;
    }
    .app-dev-card{
        height: 70%;
    }
    .app-dev{
        display: flex;
        align-items: end;
    }
}

/* TESTIMONIALS */
.all-testi{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text{
    width: 100%;
    /* debug */
    height: 200px;
    border: 1px solid black;
}

.testi-card{
    background-color: var(--lilac);
    border-radius: 20px;
    width: 100%;
    margin: 10px;

    /* debug */
    height: 200px;
}
@media screen and (min-width:992px) {
    .info-text{
        width: 100%;
    }
    .testi-card{
        width: 100%;
    }
}

/* FEATURES */
.features{
    background-color: var(--lilac);
}
.all-feat{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feat-card{
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin: 10px;

    /* debug */
    height: 200px;
}

@media screen and (min-width:768px) {
    .feat-card{
        width: calc(100% / 2 - 20px);
    }
    .all-feat{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:992px) {
    .feat-card{
        width: calc(100% / 3 - 20px);
    }
    
}

/* ABOUT US */
.info-and-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-pic{
    width: 100%;

    /* debug */
    height: 200px;
    border: 1px solid black;
}

@media screen and (min-width: 768px) {
    .info-and-pic{
        flex-direction: row;
    }
    .info-and-pic .info-text{
        width: 60%;
    }
    .about-pic{
        width: 40%;
    }
}

/* FOOTER */
.get-started{
    background-color: var(--lilac);
}

.c-t-a{
    /* debug */
    border: 1px solid black;
    height: 100px;
}

.footer-bottom{
    background-color: var(--black);
}

.copyright{
    border: 1px solid white;
    height: 50px;
}