/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}


/* COMMON */
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'PT Sans', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    cursor: pointer;
    color: inherit;
}

/* layout */
.container{
    width: 90%;
    margin: 0 auto;
}
/* HEADER */
header{
    background-color: var(--blue);
    position: fixed;  
    height: 70px;
    width: 100%; 
    line-height: 70px;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
}

.logo, .hamburger{
    line-height: 70px;
}

.logo{
    display: flex;
    align-items: center;
}

.hamburger{
    color: white;
    font-size: 1.3rem;
}

.nav-head{
    display: none;
}

.nav-head ul{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-head ul a{
    text-decoration: none;
}

.bttn-hdr{
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 5px 10px;
}

/* MAIN */


/* HERO */
/* general */
.hero{
    padding-top: calc(var(--headerheight) + 30px);    
    padding-bottom: 20px;
}

.all-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* cols */
.col{
    width: 100%;
    background-color: var(--lightblue);
    border-radius: 20px;
    margin: 10px;
}

.col h3{
    color: var(--blue);
    font-size: 1.5rem;
}
.col p{
    font-size: 0.9rem ;
    line-height: 1.7rem;
}
.col a{
    text-decoration: none;
}

.col-bttn{
    background-color: var(--blue);
    color: white;
    margin: 25px 0;
    padding: 10px 10px;
    border-radius: 20px;
    text-align: center;
    width: 80%;
    display: block;
}
.col-bttn i{
    display: inline;
}

.col img{
    display: block;
}

.col-img{
    font-size: 5rem;
    color: var(--blue);
}
/* PLANNING */
.planning{
    background-color: var(--lilac);
}
.plann-types{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* da fare fix per container piu piccolo */
.strategic{
    width: 100%;
    /* debug */
    height: 200px;
    border: 1px solid black;
}
.app-dev{
    width: 100%;
    /* debug */
    height: 200px;
    border: 1px solid black;
}

.app-dev-card{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    /* debug */
    height: 100%;
}


/* TESTIMONIALS */
.all-testi{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text{
    width: 100%;
    /* debug */
    height: 200px;
    border: 1px solid black;
}

.testi-card{
    background-color: var(--lilac);
    border-radius: 20px;
    width: 100%;
    margin: 10px;

    /* debug */
    height: 200px;
}


/* FEATURES */
.features{
    background-color: var(--lilac);
}
.all-feat{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feat-card{
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin: 10px;

    /* debug */
    height: 200px;
}


/* ABOUT US */
.info-and-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-pic{
    width: 100%;

    /* debug */
    height: 200px;
    border: 1px solid black;
}

/* FOOTER */
.get-started{
    background-color: var(--lilac);
}

.c-t-a{
    /* debug */
    border: 1px solid black;
    height: 100px;
}

.footer-bottom{
    background-color: var(--black);
}

.copyright{
    border: 1px solid white;
    height: 50px;
}