/* UTILITIES */
:root{
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --lilac: #9792E4;
    --yellow: #FDC15F;
    --black: #333333;
    --headerheight: 70px;
}

.p-x-20{
    padding: 0 20px;
}
.p-y-20{
    padding: 20px 0;
}

.p-b-20{
    padding-bottom: 20px;
}

.p-t-20{
    padding-top: 20px;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}


.white-text{
    color: white;
}

