/* UTILITIES */
:root{
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --lilac: #9792E4;
    --yellow: #FDC15F;
    --black: #333333;
    --headerheight: 70px;
}

.p-y-20{
    padding: 0 20px;
}
.p-x-20{
    padding: 20px 0;
}

.p-b-20{
    padding-bottom: 20px;
}

.m-x-20{
    margin: 0 20px;
}

.m-10-10{
    margin: 10px 10px;
}